<p>use-directive works!</p>
<div class="bg-success" *ngIf="success_msg; then updated_msg; else error_msg">

    Product added sucessfully 

</div>
<ng-template #updated_msg>

    Product was updated

</ng-template>

<ng-template #error_msg>

    Product was not added 

</ng-template>


<h1>Learning ngSwitch</h1>

<div [ngSwitch]="cars">
    <div *ngSwitchCase="'Hyundai'"> display car is hyundai</div>
    <div *ngSwitchCase="'tata'"> display car is tata</div>
    <div *ngSwitchCase="'tesla'"> display car is tesla</div>
    
    <div *ngSwitchCase="'Ford'"> display car is Ford</div>
    
    
    
    

</div>
